<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LyriGist AI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trispace:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
  </head>
  <body>
    <header>
      <nav>
        <a class="logo" href="/"
          ><img src="{{ url_for('static', filename='imgs/LyriGistheader.svg') }}" alt="logo"
        /></a>

        <div class="nav-right">
          <ul class="nav__links">
            <li><a href="/">Home</a></li>
            <li><a href="/predict">Predict</a></li>
            <li><a href="/about">About</a></li>
          </ul>

          <a class="cta" href="#">Login</a>
          <p class="menu cta">Menu</p>
        </div>
      </nav>
      
    </header>
    <div class="overlay">
      <a class="close">&times;</a>
      <div class="overlay__content">
        <a href="/">Home</a>
        <a href="/predict">Predict</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="hero-section">
      <img
        src="{{ url_for('static', filename='imgs/Background.svg') }}"
        alt="Background"
        class="background-image"
      />
      <div class="content">
        <img src="{{ url_for('static', filename='imgs/LyriGist AI.svg') }}" alt="LyriGist Logo" class="logo" />
        <div class="buttons">
          <button class="action-button predict" onclick="location.href='/predict';">
            <a href="/predict">Predict</a>
          </button>
          <button class="action-button about" onclick="location.href='/about';">
            <a href="/about">About</a>
          </button>
        </div>
      </div>
    </div>
    <article class="desc">
      <h1>What is LyriGist AI?</h1>
      <article class="minidesc">
        <p>
          <b>LyriGist AI</b> is an innovative artificial intelligence designed to analyze English song lyrics and accurately determine their genre. By examining linguistic patterns, themes, and stylistic elements, this AI simplifies the process of genre identification, offering valuable insights into the diverse landscape of English-language music. Whether you're a music enthusiast, researcher, or industry professional, <b>LyriGist AI</b> helps you explore and understand English music more efficiently
          
        </p>
      </article>
    </article>

    <div class="try-offer">
      <img
        src="{{ url_for('static', filename='imgs/AI Model Illustration.svg') }}"
        alt="Predict NOW"
        style="width: 55%"
        class="offer-img"
        onclick="location.href='/predict';"
      />
    </div>

    <article class="desc">
      <h1>Want to Support LyriGist AI?</h1>
      <article class="minidesc">
        <p>
          Your support can help advance <b>LyriGist AI</b>’s technology and improve the accuracy of English song genre detection. By donating, you're contributing to research and innovation that refine our AI’s ability to classify music and enhance the understanding of lyrical artistry.
        </p>
        <p>
          The best way to support <b>LyriGist AI</b> is by donating to us through the
          links below.
        </p>
        <button class="donate-button">Donate Us</button>
      </article>
    </article>
    <footer class="footer">
      <div class="footer-content">
        <img src="{{ url_for('static', filename='imgs/LyriGistheader.svg') }}" />

        <div class="newsletter">
          <p class="newsletter-title">Subscribe to our Newsletter</p>
          <p class="newsletter-description">
            Get the latest updates delivered straight to your inbox.
          </p>

          <form class="newsletter-form">
            <input
              type="email"
              placeholder="Enter your email"
              class="newsletter-input"
            />
            <button type="submit" class="newsletter-button">Submit</button>
          </form>
        </div>

      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 LyriGist. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
